---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Alltags from "~/components/alltags.astro";
import SearchBar from "~/components/SearchBar.astro";
import PaginatedComponent from "~/components/PaginatedComponent.astro";

export async function getStaticPaths({ paginate }) {
const post = await Astro.glob("./*.mdx");

const sortedPosts = post.sort((a, b) => {
const aDate = new Date(a.frontmatter.pubDate);
const bDate = new Date(b.frontmatter.pubDate);

return bDate - aDate;
});

return paginate(sortedPosts, { pageSize: 14, page: 1 });
}

const { page } = Astro.props;
---

<BlogLayout title="Gear Digest"
  description="Our guides help you discover the best products across a variety of categories, from luxury gear to the latest innovations. We provide curated, detailed information on standout items, ensuring you stay ahead of trends and make informed purchasing decisions. Whether you're searching for high-end tech, stylish apparel, or unique lifestyle products, our recommendations offer a refined selection to match your tastes and elevate your everyday life.">
  <section class="mx-auto max-w-6xl">
    <div class="tags">
      <Alltags />
      <SearchBar />
    </div>

    <div class="heading text-gray-900">
      <a href="/post">
        <h2>Archive</h2>
      </a>
      <hr style="width:100%;" />
    </div>

    <!-- Use the PaginatedPosts component here -->
    <PaginatedComponent page={page} posts={page.data} />
  </section>
</BlogLayout>