---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Alltags from "~/components/alltags.astro";
import SearchBar from "~/components/SearchBar.astro";
import PaginatedComponent from "~/components/PaginatedComponent.astro";

export async function getStaticPaths({ paginate }) {
  const post = await Astro.glob("./*.mdx");

  const sortedPosts = post.sort((a, b) => {
    const aDate = new Date(a.frontmatter.pubDate);
    const bDate = new Date(b.frontmatter.pubDate);

    return bDate - aDate;
  });

  return paginate(sortedPosts, { pageSize: 6, page: 1 });
}

const { page } = Astro.props;
---

<BlogLayout
  title="Featured Articles"
  description="Our featured articles cover all the latest developments, trends, and innovations in the eBike industry. From cutting-edge technology to new product releases, we cover everything that enthusiasts, riders, manufacturers, and everyone interested in the future of sustainable transportation should be tracking."
>
  <section class="mx-auto max-w-6xl">
    <div class="tags">
      <Alltags />
      <SearchBar />
    </div>

    <div class="heading text-gray-900">
      <a href="/post">
        <h2>Archive</h2>
      </a>
      <hr style="width:100%;" />
    </div>

    <!-- Use the PaginatedPosts component here -->
    <PaginatedComponent page={page} posts={page.data} />
  </section>
</BlogLayout>
