---
import { Accordion, AccordionItem } from "accessible-astro-components";
---

<accordian>
  <div class="mx-auto mt-10 max-w-5xl rounded-lg bg-gray-950 md:p-1">
    <Accordion>
      <AccordionItem header="Exclusivity and Curation">
        <div class="space-y-4">
          <p>
            Welcome to <strong>GearWelt</strong>, your ultimate resource for the
            best in men's gear, automobiles, and apparel. We’re here to guide
            you in choosing the finest products, curated to meet the highest
            standards of quality, style, and performance.
          </p>

          <p>
            At GearWelt, we understand that selecting the right gear is crucial
            to enhancing your lifestyle. Whether you're outfitting yourself with
            premium clothing, upgrading your vehicle, or finding the latest
            must-have accessories, our carefully researched guides make it easy
            to discover the top products that suit your needs.
          </p>

          <p>
            Our expert team is dedicated to providing you with honest
            recommendations, detailed reviews, and insights into the world of
            men's gear. We aim to simplify your decision-making process,
            presenting only the most refined products across categories, so you
            can invest in items that truly elevate your experience.
          </p>

          <p>
            From high-performance vehicles and cutting-edge apparel to durable,
            functional gear, we’ve got you covered. Explore our curated
            collections, read our in-depth reviews, and make informed choices on
            products that align with your lifestyle.
          </p>

          <p>
            At <strong>GearWelt</strong>, we focus on quality and
            sophistication. Let us help you make the best choices for your next
            purchase.
          </p>
        </div>
        <a href="" class="font-bold text-black">coming soon</a>
      </AccordionItem>

      <AccordionItem header="Tailored Editorial Content">
        <div class="space-y-4">
          <p>
            At Gearwelt, we understand that the pursuit of the finest in tech
            and fashion is not merely about the latest trends, but about
            fulfilling the materialistic desires that shape our modern
            lifestyle. Our editorial content serves as a guide through the world
            of luxury, innovation, and craftsmanship, offering our readers a
            curated selection of the most desirable and exclusive products.
          </p>

          <p>
            From high-performance gadgets that elevate everyday living to
            meticulously designed fashion pieces that express individuality and
            sophistication, we explore the intersection where aesthetics meet
            function. Gearwelt brings you the latest in premium tech and
            fashion, ensuring that you stay ahead of the curve in both style and
            substance.
          </p>

          <p>
            Our team of experts scours the ever-evolving landscape to bring you
            detailed insights into the must-have products and the latest
            developments that cater to those who appreciate the finer things in
            life. Whether you're looking for the next groundbreaking gadget or a
            statement piece for your wardrobe, Gearwelt is your go-to source for
            material luxury in the world of tech and fashion.
          </p>

          <p>
            Gearwelt isn't just about products—it's about understanding the
            lifestyle that comes with them. We aim to help you navigate the
            world of high-end tech and fashion with a discerning eye, offering
            in-depth articles that allow you to make informed decisions while
            satisfying your most elevated material desires.
          </p>
        </div>
      </AccordionItem>

      <AccordionItem header="Community Building">
        <div class="space-y-4">
          <p>
            At Gearwelt, we believe that gear is more than just equipment; it's
            a gateway to shared experiences and lasting connections. Our
            platform fosters a vibrant community of enthusiasts who are
            passionate about their hobbies, eager to learn, and always on the
            lookout for the best gear to fuel their pursuits.
          </p>

          <p>
            We provide a space for users to connect with like-minded
            individuals, share their knowledge, and discover new products
            through engaging content, insightful reviews, and interactive
            discussions. Whether you're a seasoned expert or just starting out,
            you'll find a welcoming community that is eager to share their
            insights.
          </p>

          <p>
            Join the Gearwelt community and become part of a thriving ecosystem
            of passionate individuals, where shared interests create lasting
            bonds. Share your experiences, learn from others, and discover the
            gear that will help you take your passions to the next level.
            Together, we're building a community where gear enthusiasts connect,
            learn, and thrive.
          </p>
        </div>
      </AccordionItem>

      <AccordionItem header="For Brands">
        <div class="space-y-4">
          <p>
            Gearwelt provides a platform for brands to showcase their products
            through sponsored content and product reviews. Increase your brand
            visibility and recognition among potential consumers by leveraging
            our engaging content and dedicated readership. Contact us to explore
            options for content monetization and influencer campaigns.
          </p>
        </div>
      </AccordionItem>
    </Accordion>
  </div>
</accordian>