<section class="bg-black">
  <div
    class="mx-auto max-w-6xl items-center gap-16 px-4 py-8 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 font-extrabold tracking-tight text-gray-900 text-4xl dark:text-white"
      >
        Where Passion Meets Precision
      </h2>
      <p class="mb-4">
        At <span class="gradient-text font-medium">GearWelt</span>, we're more
        than just a tech hub – we are pioneers and problem solvers, dedicated to
        providing you with the latest insights into the world of <span
          class="gradient-text font-medium">refined consumer products</span
        >. Whether you're a gadget enthusiast or a tech connoisseur, our content
        combines in-depth industry knowledge with technical expertise to bring
        you the perspectives and analysis you need, exactly when you need them.
      </p>
    </div>
    <div class="mt-8 grid grid-cols-2 gap-4">
      <img
        class="w-full rounded-lg"
        src="https://images.unsplash.com/photo-1543144787-733a167f4aec?q=80&w=3456&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="ebikenook official content 1"
      />
      <img
        class="mt-4 w-full rounded-lg lg:mt-10"
        src="https://images.unsplash.com/photo-1666238855001-d11112be431f?q=80&w=3376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="ebikeofficial content 2"
      />
    </div>
  </div>
</section>
