---
const { images = [] } = Astro.props;
---

{images.length > 0 && (
<div class="mt-8">
    <h2 class="mb-4 text-xl font-bold text-gray-900">Additional Images</h2>
    <div id="extraImagesGrid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {images.map((img, index) => (
        <div key={index} class="overflow-hidden rounded-md shadow-lg">
            <img class="w-full object-cover h-60 max-h-96 cursor-pointer transform transition-transform duration-200 ease-in-out hover:scale-110"
                src={img} alt={` `} />
        </div>
        ))}
    </div>
</div>
)}

<!-- Modal -->
<div id="extraImagesModal" class="fixed inset-0 bg-black bg-opacity-75 hidden items-center justify-center z-50">
    <img id="extraModalImg" class="max-h-[90%] max-w-[90%] rounded-md" />
</div>

<script is:inline client:load>
    const modal = document.getElementById('extraImagesModal');
    const modalImg = document.getElementById('extraModalImg');
    const grid = document.getElementById('extraImagesGrid');

    if (grid) {
        const imgs = grid.querySelectorAll('img');
        imgs.forEach(img => {
            img.addEventListener('click', () => {
                modalImg.src = img.src;
                modal.classList.remove('hidden');
                modal.classList.add('flex');
            });
        });
    }

    modal.addEventListener('click', () => {
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    });
</script>