---
import Cardcontent from "~/components/_cardcontent.astro";
import PostsList from '~/components/PostsList.jsx';

const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<div
  class="wrapper horizontalbar mx-auto my-10 grid max-w-5xl list-none grid-cols-1 gap-8 text-gray-100 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
  <!-- Loop with images -->
  {
  posts
  .sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate);
  const bDate = new Date(b.frontmatter.pubDate);
  return bDate - aDate;
  })
  .slice(1, 7)
  .map((post) => (
  <Cardcontent post={post} key={post.frontmatter.slug} imageClass="h-64" />
  ))
  }
</div>

<!-- <PostsList posts={posts} /> -->