---
import Header from "../components/header4.astro";
import BaseHead from "../components/BaseHead.astro";
import Horizontalbar from "../components/toptriple.astro";
import Horizontalbar2 from "../components/guidesmin.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer2.astro";
import Topcompact from "~/components/topcompact.astro";

const { title, description } = Astro.props || {};
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/watch.svg" type="image/svg+xml" />
</head>

<BaseHead title={"Articles"} description="A page to display all our blog posts" />

<body>
  <Header />

  <div class="layout mx-2">
    <div class="title-heading mx-auto w-full max-w-5xl text-center md:text-left">
      <h1 class="py-4 font-bold uppercase tracking-tighter text-4xl" style="font-family: 'Josefin Sans', sans-serif;">
        {title}
      </h1>
      <hr class="border-t-2 border-black md:w-3/4" />
      <p class="hidden w-3/4 pt-2 text-left text-gray-900 md:block">
        {description}
      </p>

      <main>
        <slot />
      </main>
    </div>

    <Topcompact />
    <Cta />
    <Horizontalbar />
    <Horizontalbar2 />
  </div>
  <Footer />
</body>


</html>